<input type="text" [(ngModel)]="title">

{{ title }}

<li *ngFor="let product of products">
    <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</li>


<div *ngIf="title === 'jose'">
    Div with *NgIf title === 'jose'
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">Lista esta vacia</li>
    <li *ngFor="let name of items; index as i">
        {{name}} - {{i}}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>